# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\jonas\OneDrive\Dokumente\GitHub\AuD\SS2021_DS\PVL\PVL_05\Testing\Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
